@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CommunityMember>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "SubMaster.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="page-header">
                <h1>@Model.Content.Name</h1>
            </div>

			<strong><p>Community Member</p></strong>
            <p>Contact @Model.Content.Name on <a href="mailto:@Model.Content.Email">@Model.Content.Email</a></p>
            
            <!-- A great place to show the twitter handle --> 
            <p>Or reach out on Twitter:
                <a href="https://twitter.com/@Model.Content.TwitterHandle"
                target="_blank">@@@Model.Content.TwitterHandle</a>
            </p>
		</div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <footer>
                Updated by
                @Model.Content.WriterName
                on
                @Model.Content.UpdateDate.ToShortDateString()
            </footer>
        </div>
    </div>
</div>