@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";

    var banner = Model.Content.Banner as BannerItem;
    var products = Model.Content
                        .FirstChild<Products>()
                        .Children<ProductItem>()
                        .Where(x => x.IsVisible());
    var articles = Model.Content
                        .FirstChild<NewsArea>()
                        .Children<NewsItem>()
                        .Where(x => x.IsVisible());
    var people = Model.Content
                        .FirstChild<Community>()
                        .Children<CommunityMember>()
                        .Where(x => x.IsVisible())
                        .Take(3);
}

<!-- default header on home page -->
<section class="section section--full-height background-image-full overlay overlay--dark section--content-center section--thick-border"
         style="background-image: url('@Url.GetCropUrl(banner.Image, "Home")')">
    <div class="section__hero-content">
        <h1>@banner.Name</h1>
        <h3>@banner.Subheading</h3>
        <p class="section__description">@banner.Description</p>
        <a class="button button--border--solid" href="@banner.Link.Url">Learn more</a>
    </div>
</section>
<!-- End of header section -->

<!-- Product section -->
<section class="section section--sand">

    <div class="container">
        <div class="row">
            <h2>Our products</h2>
            <div class="product-grid">

                <!-- Implement the Home Page product listing here -->
                @foreach (var product in products)
                {

                    <a href="@product.Url" class="product-grid__item"
                       style="background-image: url('@Url.GetCropUrl(product, "homeImage","square")')">
                        <div class="product-grid__item__overlay">
                            <div class="product-grid__item__name">
                                @product.Name
                            </div>
                        </div>
                    </a>
                }

            </div>
        </div>
    </div>
</section>
<!-- product section end -->

<!-- News section -->
<section class="section section--stroke-bottom">
    <div>
        <h2 class="ta-center">Latest news</h2>
    </div>

    <div class="container">

        <div class="articles">

            @foreach (var article in articles)
            {
                <a href="@article.Url" class="article article-with-image">
                    <div class="article-info">
                        <div class="article-meta">
                            <small class="article-date">@article.CreateDate</small>
                        </div>

                        <h3 class="article-title">@article.Name</h3>
                        <div class="article-excerpt">@article.Summary</div>
                    </div>

                    <!--- optional  - if the article has a image assigned to it -->
                    <div class="article-image" style="background-image: url('')"></div>
                </a>
            }


        </div>

        <div class="ta-center">
            <a class="button--small button--border--dark" href="/news">view all posts &rarr;</a>
        </div>

    </div>
</section>
<!-- News section end -->

<!-- Community Members Start -->
<section class="section">
    <div class="container">        
        <div class="row">
            <div class="col-md-12">
                <h2>Featured Community Members</h2>
            </div>

            <!-- Community member start -->
            @foreach (var person in people)
            {

                <!-- Testimonial start -->
                <div class="col-sm-6 col-lg-4">
                    <a href="@person.Url" class="testimonial">
                        <div>
                            <!-- Render the twitter avatar here -->
                            <div class="testimonial-image" style="background-image: url('')"></div>
                            <div class="testimonial-content">
                                <h3 class="testimonial-title">@person.Name</h3>
                            </div>
                        </div>
                    </a>
                </div>
            }
            <!-- Community memebr end -->

        </div>
    </div>
</section>
<!-- Community Members Start end -->