@inherits UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;

    var site = Model.Content.Site() as HomePage;
    var topNavigation = site.Children().Where(x => x.IsVisible());
}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Add CompanyName and PageName here -->
        <title>@Model.Content.Name - @site.CompanyName</title>
    
    
        <!-- you could implement these in your document types, couldn't you?  -->
        <meta name="description" content="">
        <meta name="author" content="">
    
        <!-- Link to stylesheet -->
        <link rel="stylesheet" href="/css/style.css" />
        <script type="text/javascript" src="/scripts/jquery.min.js"></script>

    </head>

    <body class="frontpage theme-font-standard theme-color-sun">

        <header class="header">

            <div class="logo">
                <a class="nav-link nav-link--home nav-link--home__text logo-text" href="@site.Url">Editor Experience</a>
            </div>

            <!-- Our Top navigation -->
            <nav class="nav-bar top-nav">
                @foreach (var child in topNavigation)
                {
                    <a class="nav-link @child.IsAncestorOrSelf(Model.Content, "nav-link--active")" href="@child.Url">@child.Name</a>
                }
            </nav>
            <!-- End of top navigation -->
        </header>

        <main>
			
            

        
            <!-- Great place to render the body of our page -->
            @RenderBody()


            <!-- Beginning of footer -->		
            <section class="section section--themed">

                <div class="container">
                    <div class="row">

                        <div class="ta-center">
                            <h2 >Get in touch</h2>
                            <p class="section__description mw-640 ma-h-auto">
								Over dinner, we talked a lot about blogging and blogging strategies. 
								One of the most fascinating pieces Marc and Angel have written is a post that got 
							</p>

                            <a class="button button--border--light_solid" href="#">Send love in a mail</a>

                        </div>

                    </div>
                </div>

            </section>
								
								

        </main>

        <footer class="section--themed">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 ta-center">
                        <!-- Use the companyName value here -->
                        @site.CompanyName
                        
						&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; 

                        <!-- Use the companyAddress value here -->
                        @site.CompanyAddress
                        
						&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; 
						
                        <!-- Use the companyPhone value here -->
						@site.CompanyPhone
                    </div>
                </div>
            </div>
        </footer>
        <!-- End of footer -->		
        
    </body>
</html>