@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewsArea>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "SubMaster.cshtml";

    var articles = Model.Content.Children<NewsItem>()
                    .Where(x => x.IsVisible() )
                    .OrderByDescending(x => x.CreateDate);
}

@Model.Content.BodyText

<div class="articles">
    @foreach (var article in articles)
    {
	    <a href="@article.Url" class="article article-with-image">
		    <div class="article-info">
			    <div class="article-meta">
				    <small class="article-date">@article.CreateDate</small>
			    </div>

			    <h3 class="article-title">@article.Name</h3>
			    <div class="article-excerpt">@article.Summary</div>
		    </div>

		    <!--- optional  - if the article has a image assigned to it -->
		    <div class="article-image" style="background-image: url('')"></div>	
	    </a>
    }
</div>